@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #fff;
  display: inline-block;
  flex-direction: column;
  margin: auto;
}

.header-wrapper {
  background-image: url('../images/header-illsutration-mobile@2x.png');
}

ul {
  list-style-type: none;
  gap: 20px;
  padding: 1px;
  justify-content: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  bottom: 40px;
  margin-top: 45px;
}

header {
  height: 50px;
}

#logo h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#menu a {
  display: flex;
  align-items: center;
}

#greeting {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 30px;
  color: #172b4d;
  position: relative;
  top: 50px;
}

.introduction {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  color: #008000;
  position: relative;
  top: 45px;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  color: #172b4d;
  position: relative;
  top: 50px;
}

.social-handle {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
  position: relative;
  top: 30px;
}

.button {
  text-align: center;
  position: relative;
  top: 90px;
}

.work {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 0 26px 26px 26px;
}

.heading {
  margin-bottom: 111px;
  margin-top: 60px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #172b4d;
}

.line-wrapper > span {
  width: 48px;
  height: 4px;
  background-color: green;
  border-radius: 8px;
  margin-bottom: 26px;
  position: relative;
  bottom: 40px;
}

.line-wrapper {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.grid-container-about {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat (3, 1fr);
}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.work > img {
  width: 100%;
}

.lang-box {
  justify-content: space-around;
  gap: 2px;
  display: flex;
}

.lang-box > li {
  background-color: #ebf0ee;
  padding: 8px 12px;
  height: fit-content;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.work-button {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
  justify-content: center;
}

.work-button > button {
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  width: 122px;
  height: 48px;
  border: 0;
  margin-bottom: 24px;
}

.work-button > button:hover {
  background-color: #36b37e;
  opacity: 0.9;
}

.work-button > button:focus {
  background-color: green;
}

.heading-with-bg {
  background-image: url(../images/illustration\ 1-\ about\ me-mobile\(1\) .png);
  height: 110px;
  background-repeat: no-repeat;
  display: block;
  background-position-x: right;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  color: #172b4d;
  position: relative;
  top: 45px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  color: #42526e;
  position: relative;
  top: -30px;
}

.resume-button {
  margin: 84px auto;
  display: flex;
  width: 159px;
  height: 48px;
  left: 96px;
  top: 285px;
  background: #36b37f;
  border-radius: 4px;
  border: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: -50px;
}

.resume-button:hover {
  background-color: #36b37e;
  opacity: 0.9;
}

.resume-button:focus {
  background-color: #008000;
}

.about-me-button {
  background-image: url(../images/illustration\ 2-about\ me\ mobile.png);
  height: 100px;
  background-repeat: no-repeat;
  display: block;
}

#about-placeholder1 {
  background-color: #dedede;
  margin: 24px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
}

#about-placeholder2 {
  background-color: #dedede;
  margin: 24px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
}

#about-placeholder3 {
  background-color: #dedede;
  margin: 24px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
}

.prog-lang {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 20px;
}

.lang-text {
  position: static;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.lang-box.about > li {
  background-color: #fff;
  color: #36b37e;
  justify-content: space-around;
  gap: 2px;
}

.contact-description {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin: 50px;
  color: #42526e;
  position: relative;
  top: -30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 90%;
  padding: 10px 10px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px 20px;
}

.contact-button {
  padding: 12px 12px 12px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: white;
  border: none;
  margin-top: 10px;
  margin-left: 35%;
  background-color: #36b37f;
  border-radius: 4px;
}

.contact-button:hover {
  background-color: #36b37e;
  opacity: 0.9;
}

.contact-button:focus {
  background-color: #008000;
}

.contact-email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  margin-top: 65px;
}

.contact-img {
  position: absolute;
  left: 336px;
  top: 6455px;
}
